.good {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
    overflow: hidden;

    h2 {
		grid-row: 3 / span 2;
		grid-column: 8 / span 5;
	}

	.list {
		margin-top: 7rem;
		grid-row: 3 / span 2;
		grid-column: 8 / span 4;
		li{
  			margin: 15px 0;
		}
	}
}

.vert {
	grid-column: 2 / span 2;
	grid-row: 1 / span 6;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	font-size: 37vh;
	font-weight: 900;
	z-index: 1;
	margin: 0 auto;
}

.color-block {
	grid-column: 1 / span 4;
	grid-row: 2 / span 4;
	width: 100%;
	height: 100%;
	background-color: #eee;
	z-index: 0;
}

.ramen-bowl {
	grid-column: 5 / span 3;
	grid-row: 2 / span 4;
	z-index: 2;
	align-self: center;
	margin-left: -13vw;

	img {
		width: 500px;
		align-items: center;
	}
}

.reimagined {
	margin-top: 10rem;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.reimagined {
	width: 100%;
	grid-column: 1 / span 12;
	grid-row: 1 / span 6;
	background:#eeeeee;
	background: linear-gradient(to bottom, #eeeeee 0%, #ffffff 100%);

	h2 {
		grid-row: 1;
		grid-column: 2 / span 5;
		font-size: 3rem;
		margin: -2rem 0 0 4rem;
	}
	p {
		grid-row: 1;
		grid-column: 2 / span 5;
		margin: 2rem 0 0 4rem;
		font-size: 2rem;
	}

	figure {
		grid-column: 8 / span 4;
		margin-top: -10rem;
		img {
			height: 500px;
		}
	}
}

.purchase {
	margin-top: -90rem;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.purchase {
	h2 {
		grid-row: 1;
		grid-column: 5 / span 2;
	}

	p {
		grid-row: 1;
		grid-column: 7 / span 2;
		font-size: 1.75rem;
	}

	img {
		grid-row: 2 / span 4;
		grid-column: 1 / span 12;
		margin: auto;
		padding-top: 1rem;
	}

	button {
		grid-row: 6;
		grid-column: 6 / span 2;
	}
}